@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 224 50% 10%;
        --foreground: 224 5% 10%;
        --card: 224 50% 90%;
        --card-foreground: 224 5% 15%;
        --popover: 224 76% 95%;
        --popover-foreground: 224 95% 10%;
        --primary: 224 84% 43%;
        --primary-foreground: 0 0% 100%;
        --secondary: 224 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 186 30% 85%;
        --muted-foreground: 224 5% 35%;
        --accent: 186 30% 80%;
        --accent-foreground: 224 5% 15%;
        --destructive: 0 76% 30%;
        --destructive-foreground: 224 5% 90%;
        --border: 224 30% 50%;
        --input: 224 30% 20%;
        --ring: 224 84% 43%;
        --radius: 1rem;
    }
    .dark {
        --background: 224 50% 10%;
        --foreground: 224 5% 90%;
        --card: 224 50% 10%;
        --card-foreground: 224 5% 90%;
        --popover: 224 50% 5%;
        --popover-foreground: 224 5% 90%;
        --primary: 224 84% 43%;
        --primary-foreground: 0 0% 100%;
        --secondary: 224 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 186 30% 20%;
        --muted-foreground: 224 5% 60%;
        --accent: 186 30% 20%;
        --accent-foreground: 224 5% 90%;
        --destructive: 0 76% 30%;
        --destructive-foreground: 224 5% 90%;
        --border: 224 30% 20%;
        --input: 224 30% 20%;
        --ring: 224 84% 43%;
        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
